<form>
    <div class="row">
        <div class="mb-3 col-4">
            <label for="name" class="form-label fw-bold">Név</label>
            <input type="text" class="form-control border-dark" id="name" placeholder="Mézga Géza" required>
        </div>
        <div class="mb-3 col-2">
          <label for="date" class="form-label fw-bold">Dátum</label>
          <input type="date" class="form-control border-dark" id="date" [value]="date" [min]="date" required>
        </div>
        <div class="mb-3 col-2">
            <label for="players" class="form-label fw-bold">Játékosok száma</label>
            <input type="number" class="form-control border-dark" id="players" aria-describedby="playersHelp" min="2" max="16" value="2" required>
            <div id="playersHelp" class="form-text">2-16 fő</div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-1">
            <label for="zipcode" class="form-label fw-bold">Irányítószám</label>
            <input type="text" class="form-control border-dark" id="zipcode" placeholder="1111" required>
        </div>
        <div class="mb-3 col-11">
            <label for="address" class="form-label fw-bold">Cím</label>
            <input type="text" class="form-control border-dark" id="address" placeholder="Példaváros, Minta út 4." required>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Foglal</button>
  </form>